# ignore everything in Documentation
Documentation/*
Documentation/Dissertation/*
Documentation/Dissertation/Appendixes/*
Documentation/Dissertation/Chapters/*
Documentation/Dissertation/References/*
Documentation/Poster/*

# except these types of files
!*.tex
!*.bib
!*.pdf
!*sty

# even if they are in subdirectories
!*/

/Python/.idea/
/Python/venv/
/Python/__pycache__/