# ignore everything in Documentation
Documentation/**
# Documentation/Dissertation/*
# Documentation/Dissertation/Appendixes/*
# Documentation/Dissertation/Chapters/*
# Documentation/Dissertation/References/*


# except these types of files
!*.tex
!*.bib
!*.bst
!*.pdf 
!*.sty
!*.docx

# even if they are in subdirectories
!*/
!Documentation/Dissertation/Images/*

/Python/.idea/
/Python/venv/
/Python/__pycache__/
/Python/.cache/
/Python/tests/.cache/
Documentation/Poster/
*.pyc

