Python/.idea/*
Data/

# ignore everything in Documentation
Documentation/*
Documentation/Dissertation/*
Documentation/Dissertation/Appendixes/*
Documentation/Dissertation/Chapters/*
Documentation/Dissertation/References/*

# except these types of files
!*.tex
!*.bib
!*.pdf
!*sty

# even if they are in subdirectories
!*/